<h2>Forgot password</h2>
<div class="alert alert-neutral">
    <div class="row">
        <div class='col-md-3'></div>
        <div class='col-md-6'>
            <br>
            <!-- <app-alert ></app-alert> -->
            <form #authForm="ngForm" >
                <input type='hidden' name='fw' value='[[fw]]'>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ngModel name="username" autocomplete="on" autofocus required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ngModel name="email" autocomplete="on" autofocus required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8"><br>
                        <button type="submit" class="btn btn-success">Send new password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>
