<nav class="navbar navbar-expand-md mb-4 {{storedToggletheme === 'light' ? 'navbar-light' : 'navbar-dark' }} rounded" style=" {{storedToggletheme === 'dark' ? 'background-color: #32383e; border: 1px solid #3e464a;' : 'background-color: #f8f8f8; border: 1px solid #e7e7e7;'}}">
<!-- <nav class="navbar navbar-expand-md mb-4 navbar-light rounded" style="background-color: #32383e; border: 1px solid #3e464a;background-color: #f8f8f8; border: 1px solid #e7e7e7;"> -->
  <a routerLink="" class="navbar-left">
	<img style="width: 40px; margin: 0px 5px 0px 5px;" alt="Hashtopolis Logo" src="{{storedToggletheme === 'light' ? 'assets/img/logo.png' : 'assets/img/logo_red.png'}}"></a><a class="navbar-brand" href="/">Hashtopolis</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation"
		(click)="toggleCollapsed()">
   <span class="navbar-toggler-icon"></span>
 </button>
	<div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAgents" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAgents">
			<a class="dropdown-item" routerLink="agents/show-agents">Show Agents</a>
			<a class="dropdown-item" routerLink="agents/new-agent">New Agent</a>
			<a class="dropdown-item" routerLink="agents/agent-status">Agent Status</a>
		   </div>
		</li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownTasks" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownTasks">
			<a class="dropdown-item" routerLink="tasks/show-tasks">Show Tasks</a>
			<a class="dropdown-item" routerLink="tasks/new-tasks">New Task</a>
			<a class="dropdown-item" routerLink="tasks/preconfigured-tasks">Preconfigured Tasks</a>
			<a class="dropdown-item" routerLink="tasks/new-preconfigured-tasks">New preconfigured Tasks</a>
			<a class="dropdown-item" routerLink="tasks/supertasks">Supertasks</a>
			<a class="dropdown-item" routerLink="tasks/new-supertasks">New Supertask</a>
			<a class="dropdown-item" routerLink="tasks/import-supertasks">Import Supertask</a>
		   </div>
		</li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownHashlists" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownHashlists">
			<a class="dropdown-item" routerLink="lists/hashlist">Hashlists</a>
			<a class="dropdown-item" routerLink="lists/new-hashlist">New hashlist</a>
			<a class="dropdown-item" routerLink="lists/superhashlist">Superhashlists</a>
			<a class="dropdown-item" routerLink="lists/new-superhashlist">New superhashlist</a>
			<a class="dropdown-item" routerLink="lists/search-hash">Search Hash</a>
			<a class="dropdown-item" routerLink="lists/show-cracks">Show cracks</a>
		   </div>
		</li>
		<li class="nav-item" >
			<a class="nav-link" routerLinkActive="active" routerLink="files" *ngIf="isAuthentificated">Files</a>
		</li>
		<li class="nav-item" routerLinkActive="active" *ngIf="isAuthentificated">
			<a class="nav-link" routerLink="chunk-activity">Chunk activity</a>
		</li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownCrackers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crackers</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownCrackers">
			<a class="dropdown-item" routerLink="crackers/binaries">Binaries</a>
			<a class="dropdown-item" routerLink="crackers/new-binary">New Binary</a>
		   </div>
		</li>
		<li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAccount" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAccount">
			<a class="dropdown-item" routerLink="account/settings">Settings</a>
			<a class="dropdown-item" routerLink="account/notifications">Notifications</a>
		   </div>
		</li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownConfig" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Config</a>
		   <div ngbDropdownMenu class="dropdown-menu" aaria-labelledby="dropdownConfig">
			<a class="dropdown-item" routerLink="config/server">Server</a>
			<a class="dropdown-item" routerLink="config/hashtypes">Hashtypes</a>
			<a class="dropdown-item" routerLink="config/agent-binaries">Agent Binaries</a>
			<a class="dropdown-item" routerLink="config/log">Log</a>
			<a class="dropdown-item" routerLink="config/health-checks">Health Checks</a>
			<a class="dropdown-item" routerLink="config/preprocessors">Preprocessors</a>
		   </div>
		</li>
		<li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
		  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownUsers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
		   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownUsers">
			<a class="dropdown-item" routerLink="users/all-users">All users</a>
			<a class="dropdown-item" routerLink="users">New User</a>
		   </div>
		</li>
      </ul>
    </div>
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item"  *ngIf="storedToggletheme === 'dark'"><a class="nav-link" (click)="switchMode()" ><fa-icon [icon]="faMoon" aria-hidden="true"></fa-icon></a></li>
		<li class="nav-item"  *ngIf="storedToggletheme === 'light'"><a class="nav-link" (click)="switchMode()" ><fa-icon [icon]="faSun" aria-hidden="true"></fa-icon></a></li>
		<li class="nav-item" *ngIf="isAuthentificated"><a class="nav-link" (click)="onLogOut()"><fa-icon [icon]="faSignOutAlt" aria-hidden="true"></fa-icon></a></li>
	</ul>
  </nav>





