  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">Hashtopolis: 0.12.0 commit 0cabad9 branch h2p</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        ©2016-{{year}} s3in!c
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="https://github.com/hashtopolis/server" class="nav-link px-2 text-muted">Github</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Help</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
