<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Crackers</li>
              <li class="breadcrumb-item active" aria-current="page">Binaries</li>
          </ol>
      </nav>
      <h2 class="h4">Cracker Binaries</h2>
      <p class="mb-0">Section to add and modify binaries..</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a routerLink="new-binary" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
          New Binary
      </a>
  </div>
</div>
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <!-- <h2>Cracker Binaries</h2> -->
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">Binary Type ID</th>
                    <th class="border-0">Name</th>
                    <th class="border-0">Available Versions</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let binary of crackerbinary">
                    <td><a href="crackers.php?id=[[binaryType.getId()]]">{{binary.crackerBinaryId}}</a></td>
                    <td><a href="crackers.php?id=[[binaryType.getId()]]">{{binary.binaryName}}</a></td>
                    <td>{{binary.version}}</td>
                    <td>
                        <div style='float: left; padding-right: 5px;'>
                          <a class='btn btn-primary' href="crackers.php?id=[[binaryType.getId()]]&new=true">Add Version/Binary</a>
                        </div>
                        <form style="float: left;" action="crackers.php" method="POST" onSubmit="if (!confirm('Really delete binary type [[htmlentities([[binaryType.getTypeName()]], ENT_QUOTES, 'UTF-8')]]?')) return false;">
                          <input type="hidden" name="action" value="[[$DCrackerBinaryAction::DELETE_BINARY_TYPE]]">
                          <input type="hidden" name="binaryTypeId" value="[[binaryType.getId()]]">
                          <input type="hidden" name="csrf" value="[[csrf]]">
                          <button type="submit" class='btn btn-danger' data-toggle="tooltip" data-placement="top" title="Delete"><fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon></button>
                        </form>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

