<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Body -->
<grid-main [class]="'fmxw-500'">
  <h2 class="h5 mb-4">Create Superhashlist</h2><br>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-outline">
        <label class="form-label requiredak" for="getsuperhashlistName">Name</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faFile" aria-hidden="true"></fa-icon>
                </span>
                <input
                      type='text'
                      id="superhashlistName"
                      class='form-control'
                      formControlName="superhashlistName"
                />
            </div>
            &nbsp;
            <div class="form-group">
              <div class="form-outline">
                  <label class="form-label requiredak" for="getHashlists">Select or search Hashlists assigned to this superhashlist:</label>
                  <div class="input-group">
                    <span class="input-group-text" >
                      <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
                    </span>
                    <select
                          type='number'
                          id="hashlists"
                          class='form-select'
                          formControlName="hashlists"
                        >
                        <option [ngValue]=""></option>
                    </select>
                </div>
              </div>
            </div>
            &nbsp;
        </div>
      <button-submit [name]="'Create'"></button-submit>
  </form>
</grid-main>
