<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Config</li>
              <li class="breadcrumb-item active" aria-current="page">Server</li>
              <li class="breadcrumb-item active" aria-current="page">Cracking/Tasks</li>
          </ol>
      </nav>
      <h2 class="h4">Cracking/Tasks</h2>
      <p class="mb-0">Customize cracking and tasks.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetunning</button>
        <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
        <button type="button" routerLink="../../server" class="btn btn-sm btn-outline-gray-600">Server</button>
        <button type="button" routerLink="../multicast" class="btn btn-sm btn-outline-gray-600">Multicast</button>
        <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
    </div>
  </div>
</div>
<!-- Breadcrum end -->
<!-- Body -->
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
              <!-- <h2 class="h5 mb-4">Cracking/Tasks</h2><br> -->
                <form>
                  <div class="row">
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="agent_timeout">Time in seconds the server will consider a client inactive or timed out.</label>
                              <!-- <input *ngFor="let c of config" [(ngModel)]="c.value" type='text' name='agenttimeout' title="Agenttimeout" class='form-control' id="agenttimeout"> -->
                              <input type='text' name='agenttimeout' title="Agenttimeout" class='form-control' id="agenttimeout">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="benchmark_time">Time in seconds an agent should benchmark a task.</label>
                              <input type='text' name='benchtime' title="Benchtime" class='form-control' id="benchtime">
                              <!-- <input  [(ngModel)]="c.benchtime" type='text' name='benchtime' title="Benchtime" class='form-control' id="benchtime"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="chunk_duration">Time in seconds a client should be working on a single chunk.</label>
                              <input type='text' name='chunktime' title="Chunktime" class='form-control' id="chunktime">
                              <!-- <input  [(ngModel)]="c.chunktime" type='text' name='chunktime' title="Chunktime" class='form-control' id="chunktime"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="chunck_timeout">Time in seconds the server will consider an issued chunk as inactive or timed out and will reallocate to another client.</label>
                              <input type='text' name='chunktimeout' title="Chunktimeout" class='form-control' id="chunktimeout">
                              <!-- <input  [(ngModel)]="c.chunktimeout" type='text' name='chunktimeout' title="Chunktimeout" class='form-control' id="chunktimeout"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="field_separator">The separator character used to separate hash and plain (or salt).</label>
                              <input type='text' name='fieldseparator' title="Fieldseparator" class='form-control' id="fieldseparator">
                              <!-- <input  [(ngModel)]="c.fieldseparator" type='text' name='fieldseparator' title="Fieldseparator" class='form-control' id="fieldseparator"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashlist_alias">The string used as hashlist alias when creating a task.</label>
                              <input type='text' name='hashlistAlias' title="HashlistAlias" class='form-control' id="hashlistAlias">
                              <!-- <input  [(ngModel)]="c.hashlistAlias" type='text' name='hashlistAlias' title="HashlistAlias" class='form-control' id="hashlistAlias"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="status_timer">Default interval in seconds clients should report back to the server for a task. (cracks, status, and progress)</label>
                              <input type='text' name='statustimer' title="Statustimer" class='form-control' id="statustimer">
                              <!-- <input  [(ngModel)]="c.statustimer" type='text' name='statustimer' title="Statustimer" class='form-control' id="statustimer"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="blacklist_chars">Characters that are not allowed to be used in attack command inputs.</label>
                              <input type='text' name='blacklistchars' title="blacklist_chars" class='form-control' id="blacklist_chars">
                              <!-- <input  [(ngModel)]="c.blacklistChars" type='text' name='blacklistchars' title="blacklist_chars" class='form-control' id="blacklist_chars"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="disp_tolerance">Allowable deviation in the final chunk of a task in percent.<br>
                                (avoids issuing small chunks when the remaining part of a task is slightly bigger than the normal chunk size).</label>
                              <input type='text' name='disptolerance' title="Disptolerance" class='form-control' id="disptolerance">
                              <!-- <input  [(ngModel)]="c.disptolerance" type='text' name='disptolerance' title="Disptolerance" class='form-control' id="disptolerance"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="default_bench">Use speed benchmark as default.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="defaultBenchmark"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.defaultBenchmark" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="rule_split_small_tasks">When rule splitting is applied for tasks, always make them a small task.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="ruleSplitSmallTasks"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitSmallTasks" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="rule_split_always">Even do rule splitting when there are not enough rules but just the benchmark is too high.
                                Can result in subtasks with just one rule.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="ruleSplitAlways"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitAlways" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="rule_split_disable">Disable automatic task splitting with large rule files.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="ruleSplitDisable"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitDisable" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="agent_data_lifetime">Minimum time in seconds how long agent gpu/cpu utilisation and gpu temperature data is kept on the server.</label>
                              <input type='text' name='agentDataLifetime' title="AgentDataLifetime" class='form-control' id="agentDataLifetime">
                              <!-- <input  [(ngModel)]="c.agentDataLifetime" type='text' name='agentDataLifetime' title="AgentDataLifetime" class='form-control' id="agentDataLifetime"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="disable_trimming">Disable trimming of chunks and redo whole chunks.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.disableTrimming" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="priority_0_start">Also automatically assign tasks with priority 0.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="priority0Start"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.priority0Start" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashcat_brain_enable">Allow hashcat brain to be used for hashlists.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="hashcatBrainEnable"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.hashcatBrainEnable" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashcat_brain_host">Host to be used for hashcat brain (must be reachable by agents).</label>
                              <input type='text' name='hashcatBrainHost' title="HashcatBrainHost" class='form-control' id="hashcatBrainHost">
                              <!-- <input  [(ngModel)]="c.hashcatBrainHost" type='text' name='hashcatBrainHost' title="HashcatBrainHost" class='form-control' id="hashcatBrainHost"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashcat_brain_port">Port for hashcat brain.</label>
                              <input type='text' name='hashcatBrainPort' title="hashcatBrainPort" class='form-control' id="hashcatBrainPort">
                              <!-- <input  [(ngModel)]="c.hashcatBrainPort" type='text' name='hashcatBrainPort' title="hashcatBrainPort" class='form-control' id="hashcatBrainPort"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashcat_brain_pass">Password to be used to access hashcat brain server.</label>
                              <input type='text' name='hashcatBrainPass' title="hashcatBrainPass" class='form-control' id="hashcatBrainPass">
                              <!-- <input  [(ngModel)]="c.hashcatBrainPass" type='text' name='hashcatBrainPass' title="hashcatBrainPass" class='form-control' id="hashcatBrainPass"> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hashlist_import_check">Check all hashes of a hashlist on import in case they are already cracked in another list.</label>
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="hashlistImportCheck"  name='isvalid' title="isvalid">
                                  <!-- <input class="form-check-input" type="checkbox" id="hashlistImportCheck"  [ngModel]="c.hashlistImportCheck" name='isvalid' title="isvalid"> -->
                                  <label class="form-label" for="isvalid"></label>
                                  <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="hc_error_ignore">Ignore error messages from crackers which contain given strings (multiple values separated by comma).</label>
                              <input type='text' name='hcErrorIgnore' title="HcErrorIgnore" class='form-control' id="hcErrorIgnore">
                              <!-- <input  [(ngModel)]="c.hcErrorIgnore" type='text' name='hcErrorIgnore' title="HcErrorIgnore" class='form-control' id="hcErrorIgnore"> -->
                            </div>
                          </div>
                  </div>
                  <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
    </div>
  </div>
</div>
