<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Users</li>
              <li class="breadcrumb-item active" aria-current="page">Yubikey</li>
          </ol>
      </nav>
      <h2 class="h4">User Yubikey</h2>
      <p class="mb-0">If you want to use a Yubikey to authentificate, you can customize your credentials below.</p>
  </div>
</div>
<!-- Breadcrum end -->
<!-- Body -->
<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
      <div class="row justify-content-center form-bg-image">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
              <!-- <h2 class="h5 mb-4">Yubikey</h2><br> -->
                <form>
                  <div class="row">
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_id">Yubikey Client ID</label>
                            <!-- <input *ngFor="let c of config" [(ngModel)]="c.yubikey_id" type='text' name='yubikey_id' title="yubikey_id" class='form-control' id="yubikey_id"> -->
                            <input type='text' name='yubikey_id' title="yubikey_id" class='form-control' id="yubikey_id">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_key">Yubikey Secret Key</label>
                            <!-- <input *ngFor="let c of config" [(ngModel)]="c.yubikey_key" type='text' name='yubikey_key' title="yubikey_key" class='form-control' id="yubikey_key"> -->
                            <input type='text' name='yubikey_key' title="yubikey_key" class='form-control' id="yubikey_key">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_key">Yubikey API URL</label>
                            <!-- <input *ngFor="let c of config" [(ngModel)]="c.yubikey_key" type='text' name='yubikey_key' title="yubikey_key" class='form-control' id="yubikey_key"> -->
                            <input type='text' name='yubikey_key' title="yubikey_key" class='form-control' id="yubikey_key">
                          </div>
                        </div>
                  </div>
                  <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
    </div>
  </div>
</div>
