<nav class="navbar navbar-expand-md mb-4 bg-white rounded background-color: #f8f8f8">
  <a class="navbar-brand" routerLink="/" *ngIf="!isMobile">
    <img
      [src]="this.headerConfig.brand.logo"
      [alt]="this.headerConfig.brand.name"
      [width]="this.headerConfig.brand.width"
      [height]="this.headerConfig.brand.height"
      class="navbar-left"
      alt
    />
    <a class="navbar-brand" href="/">
      {{ this.headerConfig.brand.name }}
    </a>
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation"
		(click)="toggleCollapsed()">
   <span class="navbar-toggler-icon"></span>
 </button>
	<div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAgents" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAgents">
          <a class="dropdown-item" routerLink="agents/agent-status">Agent Status</a>
          <a class="dropdown-item" routerLink="agents/new-agent">New Agent</a>
          <a class="dropdown-item" routerLink="agents/show-agents">Show Agents</a>
          </div>
        </li>
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="projects/" *ngIf="isAuthentificated">Projects</a>
        </li> -->
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownTasks" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownTasks">
          <a class="dropdown-item" routerLink="tasks/show-tasks">Show Tasks</a>
          <a class="dropdown-item" routerLink="tasks/new-tasks">New Task</a>
          <a class="dropdown-item" routerLink="tasks/preconfigured-tasks">Preconfigured Tasks</a>
          <a class="dropdown-item" routerLink="tasks/new-preconfigured-tasks">New preconfigured Tasks</a>
          <a class="dropdown-item" routerLink="tasks/supertasks">Supertasks</a>
          <a class="dropdown-item" routerLink="tasks/new-supertasks">New Supertask</a>
          <a class="dropdown-item" routerLink="tasks/import-supertasks">Import Supertask</a>
          <a class="dropdown-item" routerLink="tasks/chunks">Chunk activity</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownHashlists" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hashlists</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownHashlists">
          <a class="dropdown-item" routerLink="hashlists/hashlist">Hashlists</a>
          <a class="dropdown-item" routerLink="hashlists/new-hashlist">New hashlist</a>
          <a class="dropdown-item" routerLink="hashlists/superhashlist">Superhashlists</a>
          <a class="dropdown-item" routerLink="hashlists/new-superhashlist">New superhashlist</a>
          <a class="dropdown-item" routerLink="hashlists/search-hash">Search Hash</a>
          <a class="dropdown-item" routerLink="hashlists/show-cracks">Show cracks</a>
          </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="files/wordlist" *ngIf="isAuthentificated">Files</a>
        </li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownConfig" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Config</a>
          <div ngbDropdownMenu class="dropdown-menu" aaria-labelledby="dropdownConfig">
          <a class="dropdown-item" routerLink="config/engine/agent-binaries">Engines</a>
          <a class="dropdown-item" routerLink="config/hashtypes">Hashtypes</a>
          <a class="dropdown-item" routerLink="config/health-checks">Health Checks</a>
          <a class="dropdown-item" routerLink="config/log">Log</a>
          <a class="dropdown-item" routerLink="config/server">Server</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown show" routerLinkActive="active" *ngIf="isAuthentificated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownUsers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownUsers">
          <a class="dropdown-item" routerLink="users/all-users">All users</a>
          <a class="dropdown-item" routerLink="users">New User</a>
          <a class="dropdown-item" routerLink="users/yubikey">User Yubikey</a>
          <a class="dropdown-item" routerLink="users/groups">Groups</a>
          </div>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <!-- Notifications Menu  -->

      <li class="nav-item dropdown ms-3" *ngIf="isAuthentificated" ngbDropdown>
        <a ngbDropdownToggle class="nav-link text-dark notif-bell {{notifbell.length > 0 ? 'unread' : ''}} dropdown-toggle" data-unread-notifications="true" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          <svg class="icon icon-sm text-gray-900" fill="currentColor" viewBox="0 0 20 20"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-medium dropdown-menu-center mt-2 py-0 notif-bell-scroll">
          <div class="list-group list-group-flush">
          <a class="dropdown-item d-flex align-items-center">
              Notifications
          </a>

          <tr *ngFor="let nb of notifbell">

          <a href="#" class="list-group-item list-group-item-action border-bottom">
            <div class="row align-items-center">
                <div class="col ps-0 ms-2">
                  <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h4 class="h6 mb-0 text-small">{{ nb.title }}</h4>
                      </div>
                      <div class="text-end">
                        <small class="text-danger">{{ nb.datetime }}</small>
                      </div>
                  </div>
                  <p class="font-small mt-1 mb-0">{{ nb.description }}</p>
                </div>
            </div>
          </a>

        </tr>

        </div>
          <!-- <a href="#" class="dropdown-item text-center fw-bold rounded-bottom py-3">
            <fa-icon class="dropdown-icon" [icon]="faEye" aria-hidden="true"></fa-icon>
            View all
          </a> -->
        </div>
      </li>

      <!-- User Menu  -->
      <li class="nav-item dropdown ms-3" *ngIf="isAuthentificated" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownUsers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{getUser() | shortenString:5 | lowercase | titlecase }}</a>
        <div ngbDropdownMenu class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-0 py-1">
          <a class="dropdown-item align-items-center" routerLink="account/settings">
            <fa-icon class="dropdown-icon" [icon]="faUserCircle" aria-hidden="true"></fa-icon>
            Settings
          </a>
          <a class="dropdown-item align-items-center" routerLink="account/notifications">
            <fa-icon class="dropdown-icon" [icon]="faInbox" aria-hidden="true"></fa-icon>
              Notifications
          </a>
          <a *ngIf="storedToggletheme === 'dark'" class="dropdown-item align-items-center" (click)="switchMode()">
            <fa-icon class="dropdown-icon" [icon]="faSun" aria-hidden="true"></fa-icon>
              Light Mode
          </a>
          <a *ngIf="storedToggletheme === 'light'" class="dropdown-item align-items-center" (click)="switchMode()">
            <fa-icon class="dropdown-icon" [icon]="faMoon" aria-hidden="true"></fa-icon>
              Dark Mode
          </a>
          <a class="dropdown-item align-items-center" href="https://discord.com/channels/419123475538509844/419123475538509846">
            <fa-icon class="dropdown-icon" [icon]="faQuestionCircle" aria-hidden="true"></fa-icon>
              Support
          </a>
          <div role="separator" class="dropdown-divider my-1"></div>
          <a class="dropdown-item align-items-center" (click)="onLogOut()">
            <fa-icon class="dropdown-icon text-danger" [icon]="faPowerOff" aria-hidden="true"></fa-icon>
              Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
