<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Crackers</li>
              <li class="breadcrumb-item active" aria-current="page">New Binary</li>
          </ol>
      </nav>
      <h2 class="h4">Create new binary type</h2>
      <p class="mb-0">Select binary, hashcat or generic cracker.</p>
  </div>
</div>
<!-- Body -->
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                  <form>
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="getuserid">Binary Type Name</label>
                                <select name="name" title="Name" class="form-control">
                                  <option value="hashcat">Hashcat</option>
                                  <option value="generic">Generic Cracker</option>
                                </select>
                              </div>
                        </div>
                    <button  class="btn btn-gray-800 align-items-center" type="submit" >Create binary type</button>
                </form>
            </div>
       </div>
    </div>
  </div>
  </section>

