<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Body -->&nbsp;
<grid-main [class]="'fmxw-500'">
  <h2 class="h5 mb-4">Hash Search</h2><br>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-outline">
            <div class="form-group">
              <div class="form-outline">
                  <label class="form-label requiredak" for="getHashlists">Search Hashes:</label>
                  <div class="input-group">
                    <span class="input-group-text" >
                      <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
                    </span>
                    <textarea
                          type='number'
                          id="hashlists"
                          class='form-control'
                          formControlName="hashlists"
                        >
                    </textarea>
                  </div>
              </div>
            </div>
            &nbsp;
        </div>
    <span *ngIf="!createForm.valid && createForm.touched" class="help-block" >Minimum 1 hash required!</span><br>
      <button
            type="submit"
            class="btn btn-sm btn-gray-800 btn-sm"
            [disabled]="createForm.invalid"
      >
      Create
    </button>
  </form>
</grid-main>
