<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Files</li>
              <li class="breadcrumb-item active" aria-current="page">WordList</li>
          </ol>
      </nav>
      <h2 class="h4">WordLists</h2>
      <p class="mb-0">Create/Manage your wordlists.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../rules" class="btn btn-sm btn-outline-gray-600">Rules</button>
        <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600">Other</button>
    </div>
  </div>
</div>
<!-- Body -->
<!-- Import Files tabs -->
<button type="button" class="btn btn-sm btn-outline-gray-600" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles">
<fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
Add Files
</button>
&nbsp;&nbsp;
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="container">
    <div class="row justify-content-center form-bg-image">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">

              <div class="files files-effect-scale files-theme">
                <input type="radio" name="files" checked  id="tab1" class="tab-content-first">
                <label for="tab1"><fa-icon [icon]="faUpload" aria-hidden="true"></fa-icon> Upload Files</label>

                <input type="radio" name="files" id="tab2" class="tab-content-2">
                <label for="tab2"><fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon> Download URL</label>
                <ul>
                  <li class="tab-content tab-content-first" >
                    <div class="row" >
                      <form>
                      <div class="col-sm">
                        <div class="form-group">
                          <label class="form-label requiredak" for="Associatedg">Associated Access Group</label>
                          <select  class='form-select' id='accessgroup' name="accessgroup" title="Access Group">
                            <option *ngFor="let a of accessgroup" [value]="a.accessGroupId">{{ a.groupName }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="mb-3">
                            <fa-icon [icon]="faPaperclip" aria-hidden="true"></fa-icon>
                            <label for="formFile" class="form-label">Max size of 4 GB (bigger file use Import Files)</label>
                            <input class="form-control fileuploadspan" type="file" id="formFile" (change)="handleFileInput($event)">
                            <span style="width: 100%;text-align: center" class="fileuploadspan"></span>
                        </div>
                      </div>
                      <div class="col-sm">
                            <button type="submit" class="btn btn-gray-800" (click)="onuploadFile('1')">Upload</button>
                      </div>
                    </form>
                    </div>
                  </li>

                  <li class="tab-content tab-content-2">
                    <div class="row">
                      <form>
                      <div class="col-sm">
                        <div class="form-group">
                          <label class="form-label requiredak" for="Associatedg">Associated Access Group</label>
                          <select  class='form-select' id='accessgroup' name="accessgroup" title="Access Group">
                            <option *ngFor="let a of accessgroup" [value]="a.accessGroupId">{{ a.groupName }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="mb-3">
                            <label for="secret">Download URL</label>
                              <div class="input-group">
                                <span class="input-group-text">
                                  <fa-icon [icon]="faLink" aria-hidden="true"></fa-icon>
                                </span>
                                <input type="text" name='urlimport' title="urlimport" class='form-control' id="urlimport"/>
                              </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <button type="submit" class="btn btn-gray-800" (click)="onuploadFile('1')">Upload</button>
                      </div>
                    </form>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>  <!-- Collapse End -->
&nbsp;&nbsp;
<!-- Import Files tabs End -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
          &nbsp;
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">ID</th>
                    <th class="border-0">File</th>
                    <!-- <th class="border-0"><fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></th> -->
                    <th class="border-0">Size</th>
                    <th class="border-0">Line Count</th>
                    <th class="border-0">Access Group</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let f of allfiles">
                    <td>{{ f.fileId }}</td>
                    <td *ngIf="f.isSecret == 1">{{ f.filename }} <fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></td>
                    <td *ngIf="f.isSecret == 0">{{ f.filename }}</td>
                    <!-- <td></td> -->
                    <td>{{ f.size | fileSize:false }}</td>
                    <td>{{ f.lineCount }}</td>
                    <td>{{ f.accessGroupId }}</td>
                    <td>
                        <a class='btn-outline-gray-600' [routerLink]="['/files',f.fileId,'wordlist-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-toggle="tooltip" data-placement="top" title="Edit">
                          <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                        </a>
                        <a>
                          <button type="submit" class='btn' data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteFile(f.fileId)"><fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon></button>
                        </a>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
