<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHomeAlt" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Agent</li>
              <li class="breadcrumb-item active" aria-current="page">Agents Status</li>
          </ol>
      </nav>
      <h2 class="h4">Agents Status</h2>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
        <button type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles" class="btn btn-sm btn-outline-gray-600">Information</button>
    </div>
  </div>
</div>
<!-- Body -->
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="container">
      <div class="row justify-content-center form-bg-image">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">

                <div class="files files-effect-scale files-theme">
                  <input type="radio" name="files" checked  id="tab1" class="tab-content-first">
                  <label for="tab1"><fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon> Device Utilisation</label>

                  <input type="radio" name="files" id="tab2" class="tab-content-2">
                  <label for="tab2">
                    <div id="termometer">
                      <div id="temperature" style="height:5px" data-value="0°C"></div>
                      <div id="graduations"></div>
                    </div>
                    Temperature
                  </label>

                  <input type="radio" name="files" id="tab3" class="tab-content-3">
                  <label for="tab3"><fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon> CPU Utilisation</label>
                  <ul>
                    <li class="tab-content tab-content-first" >
                      <div class="row">
                        <p>
                          The flashing light indicates the device status.
                        </p>
                        <p>
                          <span style="color: #009933;">■</span> Device utilisation is good (> AddConfigThreshold %)
                        </p>
                        <p>
                          <span style="color: #ff9900;">■</span> Device utilisation not ideal (<= AddConfigThreshold %)
                        </p>
                        <p>
                          <span style="color: #800000;">■</span> Device utilisation low (<= AddConfigThreshold %)
                        </p>
                        <p>
                          <span style="color: #CCCCCC;">■</span> Agent is not active
                        </p>
                        <p>
                          <span style="color: #42d4f4;">■</span> Agent is active but not working or not providing device data
                        </p>
                        <p>
                          <span style="color: #FF0000;">■</span> Invalid device data from agent or values being 0
                        </p>
                        <p>
                          Note: Threshold can be configured in the config section.
                        </p>
                      </div>
                    </li>

                    <li class="tab-content tab-content-2">
                      <div class="row">
                        <p>
                          The flashing light indicates the device status.
                        </p>
                        <p>
                          <span style="color: #009933;">■</span> Device temperatures good (<= AddConfigThreshold°C)
                        </p>
                        <p>
                          <span style="color: #ff9900;">■</span> Device temperatures acceptable (<= AddConfigThreshold°C)
                        </p>
                        <p>
                          <span style="color: #800000;">■</span> Device temperatures too high (> AddConfigThreshold°C)
                        </p>
                        <p>
                          <span style="color: #CCCCCC;">■</span> Agent is not active
                        </p>
                        <p>
                          <span style="color: #42d4f4;">■</span> Agent is active but not working or not providing device data
                        </p>
                        <p>
                          <span style="color: #FF0000;">■</span> Invalid device data from agent or values being 0
                        </p>
                        <p>
                          Note: Threshold can be configured in the config section.
                        </p>
                      </div>
                    </li>

                    <li class="tab-content tab-content-3">
                      <div class="row">
                        <div class="row">
                          <p>
                            The flashing light indicates the device status.
                          </p>
                          <p>
                            <span style="color: #009933;">■</span> CPU utilisation is good (> AddConfigThreshold %)
                          </p>
                          <p>
                            <span style="color: #ff9900;">■</span> CPU utilisation not ideal (<= AddConfigThreshold %)
                          </p>
                          <p>
                            <span style="color: #800000;">■</span> CPU utilisation low (<= AddConfigThreshold %)
                          </p>
                          <p>
                            <span style="color: #CCCCCC;">■</span> Agent is not active
                          </p>
                          <p>
                            <span style="color: #42d4f4;">■</span> Agent is active but not working or not providing CPU data
                          </p>
                          <p>
                            <span style="color: #FF0000;">■</span> Invalid CPU data from agent or values being 0
                          </p>
                          <p>
                            Note: Threshold can be configured in the config section.
                          </p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>  <!-- Collapse End -->
  &nbsp;&nbsp;

<div class="container-agent">
  <div class="row">

    <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center box-agent" >
      <div class="agent">
        <div class="agentbigbutton"></div>
        <div class="agentsmallbutton" style="background: rgb(25, 177, 11);"></div>
        <fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon>
      </div>
      <div class="agent">
        <div class="agentbigbutton"></div>
        <div class="agentsmallbutton" style="background: rgb(153, 11, 11);"></div>
          <div id="termometer">
            <div id="temperature" style="height:5px" data-value="0°C"></div>
            <div id="graduations"></div>
          </div>
      </div>
      <div class="agent">
        <div class="agentbigbutton"></div>
        <div class="agentsmallbutton" style="background: rgb(122, 122, 122);"></div>
        <fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon>
      </div>
      <div class="agent-infobox">
        <fa-icon [icon]="faUserSecret" aria-hidden="true"></fa-icon>
        <i style="color:black;font-size:12px"> Rack:TBX12<br /></i>
      </div>
    </div>


  </div>
</div>


