.container-project {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.stepsContainer {
  display:flex;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}

.stepConectorPiece {
  height:3px;
  background:lightgrey;
  flex:1;
  margin-top:19px;
}

.stepCircle {
  width:40px;
  height:40px;
  border-radius:100%;
  background:lightgrey;
  text-align:center;
  line-height:40px;
  color:#ffffff;
  font-family:helvetica;
}


.container-smart {
  display:flex;
  flex-direction:column;
  // background:#f6f6f6;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

.one,
.two,
.three {
  flex:1;
  padding:5px;
}

.one {
  padding-top:10px;
}

.three {
  padding-bottom:10px;
}

.four {
  flex:1;
  position:relative;
  height:40px;
}

.input {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  height:32px;
  line-height:32px;
  padding-left:10px;
}

.submit {
  position:absolute;
  right:14px;
  background:darkblue;
  color:#ffffff;
  height:26px;
  padding-left:10px;
  padding-right:10px;
  border:none;
  font-size:10px;
  font-weight:600;
  text-transform:uppercase;
  cursor:pointer;
}

.thankYou {
  text-align:center;
  font-family:helvetica;
  font-weight:800;
}

.customerContactContainer {
  display:flex;
  height:32px;
  line-height:32px;
  font-family:helvetica;
  font-weight:600;
  margin-top:20px;
  width:300px;
  margin-left:auto;
  margin-right:auto;

}

.nameTitle {
  width:100px;
  background:#f6f6f6;
  padding-left:10px;
  font-size:12px;
}

.emailTitle {
  flex:1;
  background:#f6f6f6;
  padding-left:10px;
  font-size:12px;
}

.customerListItemsContainer {
  display:flex;
  height:32px;
  border-bottom:1px solid #dddddd;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  line-height:32px;
  font-family:helvetica;
  font-size:12px;
}

.name {
  width:100px;
  padding-left:10px;
}

.email {
  flex:1;
  padding-left:10px;
}

input.ng-invalid.ng-touched {
	border: 1.5px solid red;
}

//
.mt-0 {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 1.5rem !important;
}

.p-0 {
  padding: 1.5rem !important;
}

.p-lg-0 {
  padding: 3rem !important;
}

.fmxw-500 {
  max-width: 500px !important;
}

.btn-gray-800 {
  color: #ffffff;
  background-color: #343d49;
  border-color: #1F2937;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075);
}

.btn-gray-800:hover {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
}

.btn-right {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 33px;
  border: none;
}
