<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'cracking'">
          <h2 class="h4">Cracking/Tasks</h2>
          <p class="mb-0">Manage and customize cracking and task settings.</p>
        </div>
        <div *ngSwitchCase="'finetunning'">
          <h2 class="h4">Finetunning</h2>
          <p class="mb-0">Manage and customize finetunning.</p>
        </div>
        <div *ngSwitchCase="'ui'">
          <h2 class="h4">UI</h2>
          <p class="mb-0">Manage and customize UI settings.</p>
        </div>
        <div *ngSwitchCase="'notifications'">
          <h2 class="h4">Notifications</h2>
          <p class="mb-0">Manage and customize notifications.</p>
        </div>
        <div *ngSwitchCase="'server'">
          <h2 class="h4">Server</h2>
          <p class="mb-0">Manage and customize Server settings.</p>
        </div>
      </div>
  </div>
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'cracking'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600-select">Cracking/Tasks</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'finetunning'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking/Tasks</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600-select">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'ui'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking/Tasks</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600-select">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'yubikey'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking/Tasks</button>
              <button type="button" routerLink="../yubikey" class="btn btn-sm btn-outline-gray-600-select">Yubikey</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'notifications'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking/Tasks</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600-select">Notifications</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'server'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking/Tasks</button>
              <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetuning</button>
              <button type="button" routerLink="../ui" class="btn btn-sm btn-outline-gray-600">UI</button>
              <button type="button" routerLink="../server" class="btn btn-sm btn-outline-gray-600-select">Server</button>
              <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Body -->
<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'cracking'">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
        <form>
          <div class="row">
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="agent_timeout">Client inactivity or timed out (seconds)</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="agenttimeout"
                            class='form-control'
                            formControlName="agenttimeout"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="benchmark_time">Client benchmarking a task (seconds)</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="benchtime"
                            class='form-control'
                            formControlName="benchtime"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="chunk_duration">Client working on a single chunk (seconds)</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="chunktime"
                            class='form-control'
                            formControlName="chunktime"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="chunck_timeout">Time in seconds the server will consider an issued chunk as inactive or timed out and will reallocate to another client.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="chunktimeout"
                            class='form-control'
                            formControlName="chunktimeout"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="field_separator">The separator character used to separate hash and plain (or salt).</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="fieldseparator"
                            class='form-control'
                            formControlName="fieldseparator"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashlist_alias">The string used as hashlist alias when creating a task.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="hashlistAlias"
                            class='form-control'
                            formControlName="hashlistAlias"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="status_timer">Default interval in seconds clients should report back to the server for a task. (cracks, status, and progress)</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="statustimer"
                            class='form-control'
                            formControlName="statustimer"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="blacklist_chars">Characters that are not allowed to be used in attack command inputs.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="blacklistchars"
                            class='form-control'
                            formControlName="blacklistchars"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="disp_tolerance">Allowable deviation in the final chunk of a task in percent.<br>
                        </label>
                        <fa-icon
                                placement="bottom"
                                ngbTooltip="Avoids issuing small chunks when the remaining part of a task is slightly bigger than the normal chunk size)"
                                container="body"
                                [icon]="faInfoCircle"
                                aria-hidden="true"
                        >
                        </fa-icon>
                        <input
                              type='text'
                              id="disptolerance"
                              class='form-control'
                              formControlName="disptolerance"
                        >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="default_bench">Use speed benchmark as default.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="defaultBenchmark"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.defaultBenchmark" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="rule_split_small_tasks">When rule splitting is applied for tasks, always make them a small task.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="ruleSplitSmallTasks"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitSmallTasks" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="rule_split_always">Even do rule splitting when there are not enough rules but just the benchmark is too high.
                        Can result in subtasks with just one rule.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="ruleSplitAlways"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitAlways" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="rule_split_disable">Disable automatic task splitting with large rule files.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="ruleSplitDisable"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.ruleSplitDisable" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="agent_data_lifetime">Minimum time in seconds how long agent gpu/cpu utilisation and gpu temperature data is kept on the server.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="agentDataLifetime"
                            class='form-control'
                            formControlName="agentDataLifetime"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="disable_trimming">Disable trimming of chunks and redo whole chunks.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.disableTrimming" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="priority_0_start">Also automatically assign tasks with priority 0.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="priority0Start"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.priority0Start" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashcat_brain_enable">Allow hashcat brain to be used for hashlists.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="hashcatBrainEnable"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="user-notification-1"  [ngModel]="c.hashcatBrainEnable" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashcat_brain_host">Host to be used for hashcat brain (must be reachable by agents).</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="HashcatBrainHost"
                            class='form-control'
                            formControlName="HashcatBrainHost"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashcat_brain_port">Port for hashcat brain.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="hashcatBrainPort"
                            class='form-control'
                            formControlName="hashcatBrainPort"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashcat_brain_pass">Password to be used to access hashcat brain server.</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="hashcatBrainPass"
                            class='form-control'
                            formControlName="hashcatBrainPass"
                      >
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hashlist_import_check">Check all hashes of a hashlist on import in case they are already cracked in another list.</label>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="hashlistImportCheck"  name='isvalid' title="isvalid">
                          <!-- <input class="form-check-input" type="checkbox" id="hashlistImportCheck"  [ngModel]="c.hashlistImportCheck" name='isvalid' title="isvalid"> -->
                          <label class="form-label" for="isvalid"></label>
                          <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                      </div>
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <div class="form-outline">
                      <label class="form-label" for="hc_error_ignore">Ignore error messages from crackers which contain given strings (multiple values separated by comma).</label>
                      <fa-icon
                              placement="bottom"
                              ngbTooltip="....."
                              container="body"
                              [icon]="faInfoCircle"
                              aria-hidden="true"
                      >
                      </fa-icon>
                      <input
                            type='text'
                            id="hcErrorIgnore"
                            class='form-control'
                            formControlName="hcErrorIgnore"
                      >
                    </div>
                  </div>
                  &nbsp;&nbsp;
             </div>
          <button  class="btn btn-gray-800" type="submit">Update</button>
       </form>
    </div>
  </div>
</div>
  <div *ngSwitchCase="'finetunning'">
        <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
                    <form>
                      <div class="row">
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="numLogEntries">Number of log entries that should be saved. When this number is exceeded by 120%, the oldest will be overwritten.</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.numLogEntries" type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries"> -->
                                <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="batchSize">Batch size of SQL query when hashlist is sent to the agent.</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.batchSize" type='text' name='batchSize' title="batchSize" class='form-control' id="batchSize"> -->
                                <input type='text' name='batchSize' title="batchSize" class='form-control' id="batchSize">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="hashesPerPage">Number of hashes shown on each page of the hashes view.</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.hashesPerPage" type='text' name='hashesPerPage' title="hashesPerPage" class='form-control' id="hashesPerPage"> -->
                                <input type='text' name='hashesPerPage' title="hashesPerPage" class='form-control' id="hashesPerPage">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="PlaintextMaxLength">Plain text Max.Length</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.PlaintextMaxLength" type='text' name='PlaintextMaxLength' title="PlaintextMaxLength" class='form-control' id="PlaintextMaxLength"> -->
                                <input type='text' name='PlaintextMaxLength' title="PlaintextMaxLength" class='form-control' id="PlaintextMaxLength">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="PlaintextMaxLength">Max length of a hash. (WARNING: This change may take a long time depending on DB size!)</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.PlaintextMaxLength" type='text' name='PlaintextMaxLength' title="PlaintextMaxLength" class='form-control' id="PlaintextMaxLength"> -->
                                <input type='text' name='PlaintextMaxLength' title="PlaintextMaxLength" class='form-control' id="PlaintextMaxLength">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="maxHashlistSize">Max size of a hashlist in lines. (Prevents uploading very large lists).</label>
                                <!-- <input *ngFor="let c of config" [(ngModel)]="c.maxHashlistSize" type='text' name='maxHashlistSize' title="maxHashlistSize" class='form-control' id="maxHashlistSize"> -->
                                <input type='text' name='maxHashlistSize' title="maxHashlistSize" class='form-control' id="maxHashlistSize">
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label class="form-label" for="uApiSendTaskIsComplete">Also send 'isComplete' for each task on the User API when listing all tasks (might affect performance)</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="uApiSendTaskIsComplete"  name='isvalid' title="isvalid">
                                    <!-- <input class="form-check-input" type="checkbox" id="uApiSendTaskIsComplete"  [ngModel]="c.uApiSendTaskIsComplete" name='uApiSendTaskIsComplete' title="uApiSendTaskIsComplete"> -->
                                    <label class="form-label" for="isvalid"></label>
                                    <!-- <label *ngIf="c.uApiSendTaskIsComplete === 1" class="form-label" for="uApiSendTaskIsComplete">User Enabled</label> -->
                                </div>
                              </div>
                            </div>
                            &nbsp;&nbsp;
                      </div>
                      <button  class="btn btn-gray-800" type="submit">Update</button>
                </form>
          </div>
      </div>

  </div><!-- End switch  -->
  <div *ngSwitchCase="'ui'">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
            <form>
              <div class="row">
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Hide pre configured tasks that were imported through a mask import</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                          <label class="form-label" for="isvalid"></label>
                        </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Number of hashes per page on hashes view</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Hide agent's IP information</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                          <label class="form-label" for="isvalid"></label>
                        </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Show cracks/minute for tasks which are running</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                          <label class="form-label" for="isvalid"></label>
                        </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Maximal number of data points showing of agent gpu data</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Draw straigth lines in agent data graph instead of bezier curves</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="disableTrimming"  name='isvalid' title="isvalid">
                          <label class="form-label" for="isvalid"></label>
                        </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Max session length users can configure (in hours)</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Temperature threshold from which on an agent is shown in orange on the agent status page</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Util value where an agent is shown in orange on the agent status page, if below</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Util value where an agent is shown in red on the agent status page, if below</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;&nbsp;
              </div>
              <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
        </div>
    </div>
  </div> <!-- End switch  -->
  <div *ngSwitchCase="'notifications'">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
            <form>
              <div class="row">
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Telegram bot token used to send telegram notifications.</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Enable using a proxy for sending notifications</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="defaultBenchmark"  name='isvalid' title="isvalid">
                          <label class="form-label" for="isvalid"></label>
                      </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Server url of the proxy to use for notifications</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Set the port for the notifications proxy</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <div class="form-outline">
                        <label class="form-label" for="numLogEntries">Proxy type to use for notifications</label>
                        <input type='text' name='numLogEntries' title="numLogEntries" class='form-control' id="numLogEntries">
                      </div>
                    </div>
                    &nbsp;&nbsp;
              </div>
              <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
        </div>
    </div>
  </div> <!-- End switch  -->
  <div *ngSwitchCase="'server'">

              <div class="col-12 d-flex align-items-center justify-content-center">
                  <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
                    <form>
                      <div class="row">
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="email_sender">Email address used as sender on notification emails.</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.emailSender" type='text' name='emailSender' title="emailSender" class='form-control' id="emailSender"> -->
                                  <input type='text' name='emailSender' title="emailSender" class='form-control' id="emailSender">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="email_sender_name">Sender's name on emails sent from Hashtopolis.</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.emailSenderName" type='text' name='emailSenderName' title="emailSenderName" class='form-control' id="emailSenderName"> -->
                                  <input type='text' name='emailSenderName' title="emailSenderName" class='form-control' id="emailSemailSenderNamender">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="base_host">Base hostname/port/protocol to use. Only fill this in to override the auto-determined value.</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.baseHost" type='text' name='baseHost' title="baseHost" class='form-control' id="baseHost"> -->
                                  <input type='text' name='baseHost' title="baseHost" class='form-control' id="baseHost">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="contact_email">Admin email address that will be displayed on the webpage footer. (Leave empty to hide).</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.contactEmail" type='text' name='contactEmail' title="contactEmail" class='form-control' id="contactEmail"> -->
                                  <input type='text' name='contactEmail' title="contactEmail" class='form-control' id="contactEmail">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="voucher_deletion">Vouchers can be used multiple times and will not be deleted automatically.</label>
                                  <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" id="voucherDeletion"  name='voucherDeletion' title="voucherDeletion">
                                      <!-- <input class="form-check-input" type="checkbox" id="voucherDeletion"  [ngModel]="c.voucherDeletion" name='voucherDeletion' title="voucherDeletion"> -->
                                      <label class="form-label" for="voucherDeletion"></label>
                                      <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                                  </div>
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="server_log_level">Server level to be logged on the server to file.</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.serverLogLevel" type='text' name='serverLogLevel' title="serverLogLevel" class='form-control' id="serverLogLevel"> -->
                                  <input type='text' name='serverLogLevel' title="serverLogLevel" class='form-control' id="serverLogLevel">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="base_url">Base url for the webpage (this does not include hostname and is normally determined automatically on the installation).</label>
                                  <!-- <input *ngFor="let c of config" [(ngModel)]="c.baseUrl" type='text' name='baseUrl' title="baseUrl" class='form-control' id="baseUrl"> -->
                                  <input type='text' name='baseUrl' title="baseUrl" class='form-control' id="baseUrl">
                                </div>
                              </div>
                              &nbsp;
                              <div class="form-group">
                                <div class="form-outline">
                                  <label class="form-label" for="allow_deregister">Allow clients to deregister themselves automatically from the server.</label>
                                  <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" id="allowDeregister"  name='allowDeregister' title="allowDeregister">
                                      <!-- <input class="form-check-input" type="checkbox" id="allowDeregister"  [ngModel]="c.allowDeregister" name='allowDeregister' title="allowDeregister"> -->
                                      <label class="form-label" for="allowDeregister"></label>
                                      <!-- <label *ngIf="u.isValid === 1" class="form-label" for="isvalid">User Enabled</label> -->
                                  </div>
                                </div>
                              </div>
                              &nbsp;&nbsp;
                      </div>
                      <button  class="btn btn-gray-800" type="submit">Update</button>
                </form>
           </div>
      </div>

  </div> <!-- End Server settings  -->
</div> <!-- End switch  -->


