<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Config</li>
              <li class="breadcrumb-item active" aria-current="page">Server</li>
              <li class="breadcrumb-item active" aria-current="page">UI</li>
          </ol>
      </nav>
      <h2 class="h4">UI</h2>
      <p class="mb-0">Custom section.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../cracking" class="btn btn-sm btn-outline-gray-600">Cracking</button>
        <button type="button" routerLink="../finetunning" class="btn btn-sm btn-outline-gray-600">Finetunning</button>
        <button type="button" routerLink="../../server" class="btn btn-sm btn-outline-gray-600">Server</button>
        <button type="button" routerLink="../multicast" class="btn btn-sm btn-outline-gray-600">Multicast</button>
        <button type="button" routerLink="../notifications" class="btn btn-sm btn-outline-gray-600">Notifications</button>
    </div>
  </div>
</div>
<!-- Breadcrum end -->
<!-- Body -->
<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
      <div class="row justify-content-center form-bg-image">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
              <!-- <h2 class="h5 mb-4">Yubikey</h2><br> -->
                <form>
                  <div class="row">
                  </div>
                  <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
    </div>
  </div>
</div>
