<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">New preconfigured Tasks</h2>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<!-- New Task End-->
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
                  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                            <div class="form-group">
                                <div class="form-outline">
                                    <label class="form-label requiredak" for="setname">Name</label>
                                    <input
                                          type='text'
                                          id="taskname"
                                          class='form-control'
                                          formControlName="taskName"
                                    >
                                </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label requiredak" for="setFiles">Select Files for attack</label>
                                  <select
                                         type='number'
                                         id="files"
                                         class='form-select'
                                         formControlName="files"
                                      >
                                      <option value=""></option>
                                  </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label requiredak" for="setattackCmd">Command line</label>
                                  <fa-icon
                                          placement="bottom"
                                          (click)="open(cheatsheet)"
                                          container="body"
                                          [icon]="faInfoCircle"
                                          aria-hidden="true"
                                          class="gray-light-ico"
                                  ></fa-icon>
                                  <textarea
                                         type='text'
                                         id="attackCmd"
                                         class='form-control'
                                         formControlName="attackCmd"
                                      >
                                  </textarea>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getcolor">Pick or enter color (identify tasks)</label>
                                  <div class="input-group-text w-50 mx-auto">
                                    <input type='text' class="form-control"
                                        [(colorPicker)]="color" cpWidth='230px' cpHeight="100px"
                                        [cpOKButton]="true"
                                        [cpSaveClickOutside]="false"
                                        [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                                        (colorPickerChange)="OnChangeValue($event)"
                                        [style.background]="color" [value]="color" formControlName="color"/>
                                </div>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="setchunkTime">Chunk size (seconds)</label>
                                  <input
                                        type='number'
                                        id="chunkTime"
                                        class='form-control'
                                        formControlName="chunkTime"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="setStatusTimer">Status timer (seconds)</label>
                                  <input
                                        type='number'
                                        id="statusTimer"
                                        class='form-control'
                                        formControlName="statusTimer"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="setuseNewBench">Benchmark Type (Hashcat only)</label>
                                  <select
                                        type='number'
                                        id="useNewBench"
                                        class='form-control'
                                        formControlName="useNewBench"
                                  >
                                    <option [ngValue]="false">Runtime Benchmark</option>
                                    <option [ngValue]="true" [defaultSelected]=true>Speed Test</option>
                                  </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="setisCpuTask">Task is CPU only (gets only CPU agents assigned)</label>
                                <td>
                                <select
                                       id='isCpuTask'
                                       class='form-select'
                                       formControlName="isCpuTask"
                                     >
                                    <option [ngValue]="false" [defaultSelected]=true>No</option>
                                    <option [ngValue]="true">Yes</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="setisSmall">Task is small (only one agent gets assigned to it)</label>
                                <td>
                                <select
                                       id='isSmall'
                                       class='form-select'
                                       formControlName="isSmall"
                                    >
                                    <option [ngValue]="false" [defaultSelected]=true>No</option>
                                    <option [ngValue]="true">Yes</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="setcrackerBinaryTypeId">Binary type to run task</label>
                                <td>
                                <select
                                        type='number'
                                        id='crackerBinaryTypeId'
                                        class='form-select'
                                        #myBinary
                                        formControlName="crackerBinaryTypeId">
                                  <option *ngFor="let cb of crackertype" [value]="cb.crackerBinaryTypeId">{{ cb.typeName }}</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                        </div>
                  <button class="btn btn-gray-800" type="submit">Create</button>
            </form>
            {{ createForm.value | json }}
    </div>
  </div>
</div>


<!-- Cheat Sheet Utilisation -->
<ng-template #cheatsheet let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cheat Sheet</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
        <div class="row">
          <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel title="Required" id="config-panel-one">
              <ng-template ngbPanelContent>
                Use #HL# for hash list and assume all files in current directory.
                If you have Linux agents, please mind the filename case sensitivity!
                <br>
                <p>Rules: to add a rule list and "-r" needs to be added before the Filename. ie. -r Filename</p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Attack Modes">
              <ng-template ngbPanelContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Value</th>
                      <th scope="col">Attack</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of attackmode">
                      <th scope="row">{{c.value}}</th>
                      <td>{{c.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Attack Examples">
              <ng-template ngbPanelContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Example</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ax of attackex">
                      <th scope="row">{{ax.value}}</th>
                      <td>{{ax.example}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Built-in charsets in Hashcat">
              <ng-template ngbPanelContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Value</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ch of charsets">
                      <th scope="row">{{ch.value}}</th>
                      <td>{{ch.descrip}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Foreign Characters Hashcat">
              <ng-template ngbPanelContent>
                <p>Hashcat uses UTF-8, if you are doing an attack using wordlist as soon as the format is supported it should be fine.
                  If you are trying a brute attack, it'll require use the command --hex-charset. ie.
                </p>
                <p>German: --hex-charset -1 c3 -2 8489969c9fa4a9b6bc german.hash ?a?a?a?1?2?a?a</p>
                <p>Russian: --hex-charset -1 d0dld2d3d4 -2 808182838485868788898a8b8c8d8e8f909192939495969798999a9b9c9d9e9fa0ala2a3a4a5a6a7a8a9aaabacadaeafb0blb2b3b4b5b6b7b8b9babbbcbdbebf -i ?1?2?1?2?1?2?1?2</p>
                <p>Encoding: It is better practice encode the custom charsets in the mask, please note From and To in the example. ie. --encoding-from=utf-8 or --encoding-to=utf-8  </p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
	</div>
</ng-template>


