<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
              <div [ngSwitch]="whichView">
                <div *ngSwitchCase="'create'">
                  <h2 class="h5 mb-4">Create Preprocessor</h2><br>
                </div>
                <div *ngSwitchCase="'edit'">
                  <h2 class="h5 mb-4">Edit Preprocessor</h2><br>
                </div>
              </div>
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="setname">Name</label>
                          <input [(ngModel)]="prep['name']" type='text' name='name' title="name" class='form-control' id="name" formControlName="name">
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="setbinname">Binary Basename</label>
                          <input [(ngModel)]="prep['binaryName']" type='text' name='Binname' title="binname" class='form-control' id="binname" formControlName="binaryName">
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="seturl">Download URL</label>
                          <input [(ngModel)]="prep['url']" type='text' name='url' title="url" class='form-control' id="url" formControlName="url">
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="seturl">Commands (set to empty if not available)</label>
                          <td>
                            <input [(ngModel)]="prep['keyspaceCommand']" type="text" class="form-control" name="keyspaceCommand" formControlName="keyspaceCommand">
                          </td>
                          <td>
                            <input [(ngModel)]="prep['skipCommand']" type="text" class="form-control" name="skipCommand" formControlName="skipCommand">
                          </td>
                          <td>
                            <input [(ngModel)]="prep['limitCommand']" type="text" class="form-control" name="limitCommand" formControlName="limitCommand">
                          </td>
                        </div>
                      </div>
                      &nbsp;
                    </div>
                    <div [ngSwitch]="whichView">
                      <div *ngSwitchCase="'create'">
                        <button  class="btn btn-gray-800" type="submit">Create</button>
                      </div>
                      <div *ngSwitchCase="'edit'">
                        <button  class="btn btn-gray-800" type="submit">Save</button>
                      </div>
                    </div>
            </form>
      </div>
    </div>
  </div>
</div>
</section>
