<label>Server Name</label>
<!-- <input type="text"
class="form-control"
(input)="onUpdateAgentName($event)"> -->
<input type="text"
    class="form-control"
    [(ngModel)]="AgentName">
<p>{{AgentName}}</p>
<button type="button"
    class="btn btn-primary"
    [disabled]="!allowNewAgent"
    (click)="onCreateAgent()">Add Agent</button>
<p *ngIf="AgentCreated; else noagent">Agent was created, agent new name is {{AgentName}}</p>
<ng-template #noagent>
    <p>>No agent was created!</p>
</ng-template>
<app-server *ngFor="let Agent of Agents"></app-server>

