<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">New Tasks</h2>
      <p class="mb-0">Section to create a new task.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<!-- New Task End-->
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label requiredak" for="getname">Name</label>
                              <input
                                    type='text'
                                    id="taskname"
                                    class='form-control'
                                    formControlName="taskName"
                              >
                          </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getTasknotes">Task notes</label>
                            <input
                                  type='text'
                                  id="tasknotes"
                                  class='form-control'
                                  formControlName="notes"
                            >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label requiredak" for="gethashlistId">Hashlist</label>
                            <select
                                   type='number'
                                   id='hashlistId'
                                   class='form-select'
                                   formControlName="hashlistId"
                                >
                                <option *ngFor="let ah of allhashlists" [ngValue]="ah.hashlistId">{{ ah.name }}</option>
                            </select>
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label requiredak" for="getattackCmd">Command line</label>
                            <fa-icon
                                    placement="bottom"
                                    ngbTooltip="Use #HL# for hash list and assume all files in current directory.
                                    If you have Linux agents, please mind the filename case sensitivity!
                                    "
                                    container="body"
                                    [icon]="faInfoCircle"
                                    aria-hidden="true"
                            >
                            </fa-icon>
                            <input
                                  type='text'
                                  id="attackCmd"
                                  class='form-control'
                                  formControlName="attackCmd"
                            >
                        </div>

                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label requiredak" for="getpriority">Priority</label>
                            <input
                                  type='number'
                                  id="priority"
                                  class='form-control'
                                  formControlName="priority"
                                  validateInputNumber
                            >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getmaxAgents">Max. number of agents</label>
                            <input
                                  type='number'
                                  id="maxAgents"
                                  class='form-control'
                                  formControlName="maxAgents"
                                  validateInputNumber
                            >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getcolor">Pick or enter color (identify tasks)</label>
                            <div class="input-group-text w-50 mx-auto">
                              <input type='text' class="form-control"
                                  [(colorPicker)]="color" cpWidth='230px' cpHeight="100px"
                                  [cpOKButton]="true"
                                  [cpSaveClickOutside]="false"
                                  [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                                  (colorPickerChange)="OnChangeValue($event)"
                                  [style.background]="color" [value]="color" formControlName="color"/>
                          </div>
                        </div>
                      </div>
                      &nbsp;
                      <ngb-accordion #acc="ngbAccordion" >
                        <ngb-panel>
                          <ng-template ngbPanelTitle>
                            <span><b>Advanced Settings</b></span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getchunkTime">Chunk size (seconds)</label>
                                  <input
                                        type='number'
                                        id="chunkTime"
                                        class='form-control'
                                        formControlName="chunkTime"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getStatusTimer">Status timer (seconds)</label>
                                  <input
                                        type='number'
                                        id="statusTimer"
                                        class='form-control'
                                        formControlName="statusTimer"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getuseNewBench">Benchmark Type</label>
                                  <fa-icon
                                          placement="bottom"
                                          ngbTooltip="Only works for Hashcat"
                                          container="body"
                                          [icon]="faInfoCircle"
                                          aria-hidden="true"
                                  >
                                  </fa-icon>
                                  <select
                                        type='number'
                                        id="useNewBench"
                                        class='form-select'
                                        formControlName="useNewBench"
                                  >
                                    <option [ngValue]="false">Runtime Benchmark</option>
                                    <option [ngValue]="true" [defaultSelected]=true>Speed Test</option>
                                  </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="getisCpuTask">Task is CPU only</label>
                                <fa-icon
                                        placement="bottom"
                                        ngbTooltip="Task is assigned only to CPU agents"
                                        container="body"
                                        [icon]="faInfoCircle"
                                        aria-hidden="true"
                                >
                                </fa-icon>
                                <td>
                                <select
                                       id='isCpuTask'
                                       class='form-select'
                                       formControlName="isCpuTask"
                                     >
                                    <option [ngValue]="false" [defaultSelected]=true>No</option>
                                    <option [ngValue]="true">Yes</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="getisSmall">Task is small</label>
                                <fa-icon
                                        placement="bottom"
                                        ngbTooltip="Only one agent is assigned to the task"
                                        container="body"
                                        [icon]="faInfoCircle"
                                        aria-hidden="true"
                                >
                                </fa-icon>
                                <td>
                                <select
                                       id='isSmall'
                                       class='form-select'
                                       formControlName="isSmall"
                                    >
                                    <option [ngValue]="false" [defaultSelected]=true>No</option>
                                    <option [ngValue]="true">Yes</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="getcrackerBinaryId">Binary type to run task</label>
                                <td>
                                <select
                                        type='number'
                                        id='crackerBinaryId'
                                        class='form-select'
                                        #myBinary
                                        (change)="onChangeBinary(myBinary.value)"
                                        formControlName="crackerBinaryId">
                                  <option
                                        *ngFor="let cb of crackertype" [value]="cb.crackerBinaryTypeId">{{ cb.typeName }}</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                <label for="getcrackerBinaryId">Binary type version</label>
                                <td>
                                <select
                                       type='number'
                                       id='crackerBinaryTypeId'
                                       class='form-select'
                                       formControlName="crackerBinaryTypeId"
                                    >
                                    <option [ngValue]=""  disabled="true">--<option>
                                    <option *ngFor="let cv of crackerversions; let i = index"
                                    [ngValue]="cv.crackerBinaryId"
                                    type="number"
                                    [attr.selected]='i>0 ? "selected" : null'
                                    >{{ cv.version }}</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getusePreprocessor">Set as preprocessor task</label>
                                  <select
                                         type='number'
                                         id='usePreprocessor'
                                         class='form-select'
                                         formControlName="usePreprocessor"
                                      >
                                      <option [ngValue]="0" [defaultSelected]=true>No</option>
                                      <option *ngFor="let p of prep" [ngValue]="p.preprocessorId">{{ p.name }}</option>
                                  </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getPreprocessorCommand">Preprocessor command</label>
                                  <input
                                        type='text'
                                        id="preprocessorCommand"
                                        class='form-control'
                                        formControlName="preprocessorCommand"
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getskipKeyspace">Skip a given keyspace at the beginning of the task</label>
                                  <input
                                        type='number'
                                        id="skipKeyspace"
                                        class='form-control'
                                        formControlName="skipKeyspace"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getStaticChunks">Use static chunking</label>
                                  <td>
                                  <select
                                         type='number'
                                         id='staticChunks'
                                         class='form-select'
                                         formControlName="staticChunks"
                                      >
                                      <option [ngValue]="0" [defaultSelected]=true>No</option>
                                      <option [ngValue]="1">Fixed Chunk Size</option>
                                      <option [ngValue]="2">Fixed number of chunks</option>
                                  </select>
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getchunkSize">if yes, chunk size:</label>
                                  <input
                                        type='number'
                                        id="chunkSize"
                                        class='form-control'
                                        formControlName="chunkSize"
                                        validateInputNumber
                                  >
                              </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                              <div class="form-outline">
                                  <label class="form-label" for="getforcePipe">Enforce piping task</label>
                                  <fa-icon
                                          placement="bottom"
                                          ngbTooltip="To apply rules before reject"
                                          container="body"
                                          [icon]="faInfoCircle"
                                          aria-hidden="true"
                                  >
                                  </fa-icon>
                                  <td>
                                  <select
                                        class='form-select'
                                        id='forcePipe'
                                        formControlName="forcePipe"
                                      >
                                      <option [ngValue]="false" [defaultSelected]=true>No</option>
                                      <option [ngValue]="true">Yes</option>
                                  </select>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                      &nbsp;
                    </div>
                  <button class="btn btn-gray-800" type="submit">Create</button>
            </form>
            {{ createForm.value | json }}
    </div>
  </div>
</div>
</div>

