<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Tasks</li>
              <li class="breadcrumb-item active" aria-current="page">New Tasks</li>
          </ol>
      </nav>
      <h2 class="h4">New Tasks</h2>
      <p class="mb-0">Section to create a new task.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
          Config Attack
      </a>
  </div>
</div>
<!-- New Task -->
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <button type="button" routerLink="../rules" class="btn btn-sm btn-outline-gray-600">Rules</button>
                <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600">Other</button>

                <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">T</th>
                        <th class="border-0">P</th>
                        <th class="border-0">Filename</th>
                        <th class="border-0 rounded-end">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                          <input title="Add File" type="checkbox" name="adfile[]" >
                        </td>
                        <td>
                          <input title="Add File" type="checkbox" name="adfile[]" >
                        </td>
                        <td>Hashtopolis.web</td>
                        <td>9.16 MB</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
    </div>
  </div>
  </section>
  &nbsp;&nbsp;
</div>
<!-- New Task End-->
<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
      <div class="row justify-content-center form-bg-image">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <!-- <h2 class="h5 mb-4">Create Hashlist</h2><br> -->
                <form>
                  <!-- <tr *ngFor="let u of user"> -->
                  <div class="row">
                      <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label" for="getname" >Name</label>
                              <input  type='text' name='Hashlistname' title="Hashlistname" class='form-control' id="Hashlistname">
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Hashlist</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Command line</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Priority</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Max. number of agents</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Task notes</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Color</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Chunk size</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="gethashtype">Status timer</label>
                            <input  type='text' name='hashtype' title="Hashtype" class='form-control' id="hashtype">
                        </div>
                      </div>
                    </div>

                      <div class="form-check form-switch">
                        <label class="form-label" for="isSecret">Task is CPU only (gets only CPU agents assigned)</label>
                        <input class="form-check-input" type="checkbox" id="user-notification-1"  name='isSecret' title="isSecret">
                      </div>
                      <div class="form-check form-switch">
                        <label class="form-label" for="isSecret">Task is small (only one agent gets assigned to it)</label>
                        <input class="form-check-input" type="checkbox" id="user-notification-1"  name='isSecret' title="isSecret">
                      </div>
                      <div class="row">
                </div>
                  <button  class="btn btn-gray-800" type="submit" >Update</button>
                <!-- </tr> -->
            </form>
    </div>
  </div>
</div>
</div>

