<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Files</li>
              <li class="breadcrumb-item active" aria-current="page">Rules</li>
          </ol>
      </nav>
      <h2 class="h4">Rules</h2>
      <p class="mb-0">Create/Manage your rules.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../wordlist" class="btn btn-sm btn-outline-gray-600">Wordlist</button>
        <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600">Other</button>
    </div>
</div>
</div>
<!-- Body -->
