<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Body -->
<grid-main [class]="'fmxw-500'">
  <app-page-subtitle [subtitle]="'Create SuperTask'"></app-page-subtitle>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-outline form-input-custom">
        <label class="form-label requiredak" for="getsupertaskName">Name</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faFile" aria-hidden="true"></fa-icon>
                </span>
                <input
                      type='text'
                      id="supertaskName"
                      class='form-control'
                      formControlName="supertaskName"
                />
            </div>
            &nbsp;
            <div class="form-group">
              <div class="form-outline form-input-custom">
                  <label class="form-label requiredak" for="getTasks">Select or search tasks assigned to this supertask:</label>
                  <div class="input-group">
                    <span class="input-group-text" >
                      <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
                    </span>
                    <select
                          type='number'
                          id="preTasks"
                          class='form-select'
                          formControlName="pretasks"
                        >
                        <option [ngValue]=""></option>
                    </select>
                </div>
              </div>
            </div>
            &nbsp;
        </div>
        <button-submit [name]="'Create'"></button-submit>
  </form>
</grid-main>
