<div class="container">
<app-header></app-header>

<div class='alert alert-success'>Hi {{ getUsername() }}, welcome back!</div>
<div class="alert alert-neutral">
  {{ title }} Sourcecode is available in these Github repositories:&nbsp;&nbsp;<a href="https://github.com/hashtopolis/server" target="_blank" rel="noopener"><button class="btn btn-primary">Server</button></a>&nbsp;&nbsp;
  <a href="https://github.com/hashtopolis/agent" target="_blank" rel="noopener"><button class="btn btn-primary">Client(s)</button></a><br><br>
  To get more information about how to use {{ title }}, please visit the <a href="https://github.com/hashtopolis/server/wiki" target="_blank" rel="noopener">wiki</a> or the <a href="https://hashtopolis.org" target="_blank" rel="noopener">Forum</a>.
</div>
<!-- <app-servers></app-servers> -->
<app-footer></app-footer>
</div>

<app-users></app-users>



