  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                  <h2 class="h5 mb-4">Create Hashlist</h2><br>
                  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label requiredak" for="getname" >Name</label>
                                <input  type='text' name='name' title="Hashlistname" class='form-control' id="name" formControlName="name" >
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label requiredak" for="gethashtype">Hashtype</label>
                              <div class="input-group">
                                <span class="input-group-text" >
                                  <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
                                </span>
                                <select class='form-select' name='hashtype' title="Hashtype"  id="hashtype" formControlName="hashTypeId">
                                  <option value=""></option>
                                </select>
                            </div>
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label requiredak" for="gethashlistformat">Hashlist format</label>
                              <td>
                                <select type='number' class='form-select' id='hashlistformat' name="hashlistformat" title="Hashlist Format" formControlName="format" convert-to-number>
                                  <option value="0" [defaultSelected]=true>Text file</option>
                                  <option value="1">HCCAPX file / PMKID hash</option>
                                  <option value="2">Binary file (single hash)</option>
                                </select>
                                <span class="position-relative top-50 start-50">
                                  <br>
                                  <input type="checkbox" name="separator" id="separator" title="separator" formControlName="isSalted"> Salted hashes, separator:
                                  <input type="text" name="separator" class='form-control form-control-mini' value=";" title="separator" formControlName="separator">
                                </span>
                                <span class="position-relative top-50 start-50">
                                  <br>
                                  <input type="checkbox" name="isHexSalt" title="HEX Salt" formControlName="isHexSalt"> Salt is in hex (only when salted hashes)
                                </span>
                              </td>
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label requiredak" for="getaccessgroup">Access group</label>
                              <input type="number" name='accessgroup' title="Accessgroup" class='form-control' id="accessgroup" formControlName="accessGroupId">
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                            <label for="gethashlistformat">Hashcat Brain</label>
                            <td>
                            <select #usebrain  class='form-select' id='hashcatbrain' name="hashcatbrain" title="Hashcat-brain" formControlName="useBrain">
                              <option value="false" [defaultSelected]=true>No</option>
                              <option value="true">Yes</option>
                            </select>
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline" *ngIf="usebrain.selectedIndex === usebrain.options.length - 1">
                            <label class="form-label requiredak" for="getbrainfeatures">Hashlist format</label>
                            <td>
                              <select class='form-select' id='brainfeatures' name="brainfeatures" title="Brain features" formControlName="brainFeatures">
                                <option value="1">Send hashed passwords</option>
                                <option value="2">Send attack positions</option>
                                <option value="3" [defaultSelected]=true>Send hashed passwords and attack positions</option>
                              </select>
                              <div class='alert alert-info row justify-content-center closesys'>
                                Note: When brain is enabled it'll create a network server. If it is used wrongly it could cause bottlenecks or collapse the network server.
                             </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label" for="notes">Notes</label>
                              <input  type='text' name='notes' title="Notes" class='form-control' id="notes" formControlName="notes">
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label requiredak" for="gethashsource">Hash source</label>
                                <td>
                                  <input class="form-check-input" type="radio" name="source" (change)='ShowHideTypeFile("paste")' value="paste" title="Pasting"> Paste<br>
                                  <input class="form-check-input" type="radio" name="source" (change)='ShowHideTypeFile("upload")' value="upload" checked="checked" title="Upload"> Upload<br>
                                  <!-- <input class="form-check-input" type="radio" name="source" (change)='ShowHideTypeFile("import")' value="import" title="Import"> Import<br> -->
                                  <input class="form-check-input" type="radio" name="source" (change)='ShowHideTypeFile("url")' value="url" title="Import"> Url download<br>
                                </td>
                                &nbsp;
                                <tr id="pasteLine" style="display: none;">
                                  <td>
                                    <textarea class='form-control' name="hashfield" cols="60" rows="10" title="Hashes" formControlName="sourceData"></textarea>
                                  </td>
                                </tr>
                                <tr id="uploadLine">
                                  <div class="filedrop"
                                    fileDrop
                                    [class.hovering]="isHovering"
                                    (hovered)="toggleHover($event)">
                                    <div class="icon"><fa-icon [icon]="faUpload" aria-hidden="true"></fa-icon></div>
                                    <header>Drag & Drop here</header>
                                    <span>OR</span>
                                    <button (click)="file.click()">Browse for File</button>
                                    <input class="file-input" type="file" fileSelect  webkitdirectory directory multiple hidden #file>
                                    <p>Supported formats: .zip and .dmp</p>
                                  </div>
                                  <div *ngIf="percent$ | async as pct">

                                    <progress class="progress is-info"
                                              [value]="pct"
                                              max="100">
                                    </progress>

                                    {{ pct | number }}%

                                  </div>

                                  <div *ngIf="bytes$ | async as bytes">
                                    {{ bytes[0] | fileSize:false }} of {{ bytes[1] | fileSize:false }}
                                  </div>

                                  <div *ngIf="(state$ | async) || 'idle' as state">

                                    Upload State:
                                    <p class="tag"
                                          [ngClass]="{
                                            'is-success':  state === 'success',
                                            'is-info':     state === 'running',
                                            'is-warning':  state === 'paused',
                                            'is-danger':   state === 'error'
                                          }">
                                      {{ state }}
                                    </p>

                                    <button (click)="cancel()" class="button is-danger" [disabled]="state != 'running'">Cancel</button>

                                    </div>

                                  <!-- <td>
                                    <input type="file" class='form-control' name="hashfile"  formControlName="data" (change)="handleFileInput($event)">
                                    <span style="width: 100%;text-align: center" class="fileuploadspan"></span>
                                  </td> -->
                                </tr>
                                <tr id="importLine" style="display: none;">

                                </tr>
                                <tr id="downloadLine" style="display: none;">
                                  <td>
                                    <input type="text" class='form-control' name="url" size="35" title="Download URL" formControlName="sourceData">
                                  </td>
                                </tr>
                              </div>
                          </div>
                        </div>

                    <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block" >Please complete all the form!</span><br>
                    <!-- <button class="btn btn-gray-800" type="submit" [disabled]="!signupForm.valid">Create</button> -->
                    <button class="btn btn-gray-800" type="submit">Create</button>
                  <!-- </tr> -->
              </form>
              {{ signupForm.value | json }}
      </div>
    </div>
  </div>
</div>

