<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                    <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon>
              </li>
              <li class="breadcrumb-item">Projects</li>
              <li class="breadcrumb-item active" aria-current="page">New Project</li>
          </ol>
      </nav>
      <h2 class="h4">Projects</h2>
      <p class="mb-0">Section to manage and create custom projects.</p>
  </div>
</div>
<!-- Breadcrum end -->
<div class="container-project">
  <div class="card">
    <div class="card-body wizard-content">
      <div class="stepsContainer">

        <div class="stepCircle" [ngStyle]="{'background': stepOne ? 'green':'lightgrey'}">1</div>

        <div class="stepConectorPiece" [ngStyle]="{'background': stepOne ? 'green':'lightgrey'}"></div>

        <div class="stepCircle" [ngStyle]="{'background': stepTwo ? 'green' : 'lightgrey'}">2</div>

        <div class="stepConectorPiece" [ngStyle]="{'background': stepTwo ? 'green' : 'lightgrey'}"></div>

        <div class="stepCircle" [ngStyle]="{'background': stepThree ? 'green':'lightgrey'}">3</div>

        <div class="stepConectorPiece" [ngStyle]="{'background': stepThree ? 'green' : 'lightgrey'}"></div>

        <div class="stepCircle" [ngStyle]="{'background': stepFour ? 'green':'lightgrey'}">4</div>
        </div>


        <div class="container-smart" *ngIf="projectinfoComplete">
          <h4>Project Information</h4>
          <div class="form-outline">
            <label class="form-label" for="getprojectreference">Project Reference</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faFileText" aria-hidden="true"></fa-icon>
                </span>
              <input type='text' name='projectreference' title="Projectreference" class='form-control' id="projectreference" />
            </div>
          </div>
          <div class="form-outline">
            <label class="form-label" for="getdescription">Description</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faBook" aria-hidden="true"></fa-icon>
                </span>
              <input type='text' name='description' title="Description" class='form-control' id="description" />
            </div>
          </div>
          <div class="form-outline">
            <label class="form-label" for="getdescription">Expirity Date</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faCalendar" aria-hidden="true"></fa-icon>
                </span>
              <input type='text' name='description' title="Description" class='form-control' id="description" />
            </div>
          </div>
          <div class="form-outline">
            <label class="form-label" for="getdescription">PDF password</label>
            <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faFilePdf" aria-hidden="true"></fa-icon>
                </span>
              <input type='text' [(ngModel)]="randomstring" name='description' title="Description" class='form-control' id="description" />
            </div>
          </div>
          <div class="four">
             <button class="btn btn-gray-800 btn-right" (click)="projectInfoSubmit()">Next</button>
          </div>
        </div>

        <div class="container-smart" *ngIf="addressComplete">
          <h4>Project Permissions</h4>
          <div class="one">
            <div class="form-outline">
              <label class="form-label" for="getdescription">Teams</label>
              <div class="input-group">
                  <span class="input-group-text">
                    <fa-icon [icon]="faFilePdf" aria-hidden="true"></fa-icon>
                  </span>
                <input type='text' name='description' title="Description" class='form-control' id="description" />
              </div>
            </div>
          </div>
          <div class="two">
            <div class="form-outline">
              <label class="form-label" for="getdescription">Users</label>
              <div class="input-group">
                  <span class="input-group-text">
                    <fa-icon [icon]="faFilePdf" aria-hidden="true"></fa-icon>
                  </span>
                <input type='text' name='description' title="Description" class='form-control' id="description" />
              </div>
            </div>
          </div>
          <div class="three">
            <div class="form-outline">
              <label class="form-label" for="getdescription">Agents</label>
              <div class="input-group">
                  <span class="input-group-text">
                    <fa-icon [icon]="faFilePdf" aria-hidden="true"></fa-icon>
                  </span>
                <input type='text' name='description' title="Description" class='form-control' id="description" />
              </div>
            </div>
          </div>
          <div class="four">
             <button class="btn btn-gray-800" (click)="addressSubmit()">Next</button>
          </div>
        </div>


        <div class="container-smart" *ngIf="creditCardComplete">
          <div class="form-outline">
            <label class="form-label" for="getusername">User Name</label>
            <div class="input-group">
              <span class="input-group-text">
                <!-- <fa-icon [icon]="faUser" aria-hidden="true"></fa-icon> -->
              </span>
            <input type='text' name='username' title="Username" class='form-control' id="username" disabled="disabled" readonly/>
          </div>
    </div>
          <div class="four">
             <button class="btn btn-gray-800" (click)="creditCardSubmit()">Submit</button>
          </div>
        </div>

        <div class="thankYou" *ngIf="completedOrder">Thank You!<br>Your project has been created!</div><br>


    </div>
  </div>
</div>





