<section>&nbsp;
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
          <h2 class="h5 mb-4">New Project</h2><br>

            <div class="form-group">
              <div class="form-outline">
                <div class="input-group">
                  <span class="input-group-text" >
                    <fa-icon [icon]="faBook" aria-hidden="true"></fa-icon>
                  </span>
                  <select
                          type='number'
                          id="hashtype"
                          class='form-select'
                      >
                      <option [value]=""></option>
                  </select>
                </div>
              </div>
            </div>
            <span>Created on: June 1, 2023 at 3:00 PM by Ouroboros</span><span>Last saved : Today at 10:26 AM</span>
        </div>

      </div>
    </div>
  </div>
</section>








