<div [ngSwitch]="whichView">
    <div *ngSwitchCase="'wordlist'">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">WordLists</h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/files/wordlist/new-wordlist" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
            <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
              New Wordlist
          </a>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'rules'">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Rules</h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/files/rules/new-rule" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
            <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
              New Rule
          </a>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'other'">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Other</h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/files/other/new-other" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
            <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
              New Other
          </a>
        </div>
      </div>
    </div>
</div>
<!-- Files Table -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      &nbsp;
        <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
                <th class="border-0 rounded-start">ID</th>
                <th class="border-0">File</th>
                <th class="border-0">Size</th>
                <th class="border-0">Line Count</th>
                <th class="border-0">Access Group</th>
                <th class="border-0 rounded-end"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let f of allfiles">
                <td>{{ f.fileId }}</td>
                <td *ngIf="f.isSecret == 1">{{ f.filename }} <fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></td>
                <td *ngIf="f.isSecret == 0">{{ f.filename }}</td>
                <td>{{ f.size | fileSize:false }}</td>
                <td>{{ f.lineCount }}</td>
                <td>{{ f.accessGroup.groupName }}</td>
                <td>
                  <div [ngSwitch]="whichView">
                    <div *ngSwitchCase="'wordlist'">
                      <td class="overflow-hidden">
                        <div ngbDropdown container="body">
                          <button type="button" class="btn btn-sm btn-gray-800 btn-sm" ngbDropdownToggle>Actions</button>
                          <div ngbDropdownMenu>
                            <button ngbDropdownItem [routerLink]="['/files',f.fileId,'wordlist-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-placement="top" title="Edit">
                              <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
                            </button>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteFile(f.fileId)" >
                              <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
                            </button>
                          </div>
                        </div>
                      </td>
                    </div>
                    <div *ngSwitchCase="'rules'">
                      <td class="overflow-hidden">
                        <div ngbDropdown container="body">
                          <button type="button" class="btn btn-sm btn-gray-800 btn-sm" ngbDropdownToggle>Actions</button>
                          <div ngbDropdownMenu>
                            <button ngbDropdownItem [routerLink]="['/files',f.fileId,'rules-edit']"[queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-placement="top" title="Edit">
                              <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
                            </button>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteFile(f.fileId)" >
                              <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
                            </button>
                          </div>
                        </div>
                      </td>
                    </div>
                    <div *ngSwitchCase="'other'">
                      <td class="overflow-hidden">
                        <div ngbDropdown container="body">
                          <button type="button" class="btn btn-sm btn-gray-800 btn-sm" ngbDropdownToggle>Actions</button>
                          <div ngbDropdownMenu>
                            <button ngbDropdownItem [routerLink]="['/files',f.fileId,'other-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}"  data-placement="top" title="Edit">
                              <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
                            </button>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteFile(f.fileId)" >
                              <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
                            </button>
                          </div>
                        </div>
                      </td>
                    </div>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

