<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="btn-toolbar mb-2 mb-md-0">

  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Preprocessors</h2>
      <p>Section to manage agent preprocessors.</p>
      <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../agent-binaries" class="btn btn-sm btn-outline-gray-600">Agent Binaries</button>
        <button type="button" routerLink="../crackers" class="btn btn-sm btn-outline-gray-600">Crackers</button>
        <button type="button" routerLink="../preprocessors" class="btn btn-sm btn-outline-gray-600-select">Preprocessors</button>
      </div>
    </div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
          New Preprocessor
      </a>
  </div>
</div>
<!-- New Preprocessor  -->
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <h2 class="h5 mb-4">Create Binary</h2><br>
                  <form (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="setname">Name</label>
                            <input  type='text' name='name' title="name" class='form-control' id="name" >
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="setbinname">Binary Basename</label>
                            <input  type='text' name='Binname' title="binname" class='form-control' id="binname" >
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="seturl">Download URL</label>
                            <input  type='text' name='url' title="url" class='form-control' id="url" >
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="seturl">Commands (set to empty if not available)</label>
                            <td>
                              <input type="text" class="form-control" name="keyspaceCommand" value="--keyspace" placeholder="Measure Keyspace">
                            </td>
                            <td>
                              <input type="text" class="form-control" name="skipCommand" value="--skip" placeholder="Skip Keyspace">
                            </td>
                            <td>
                              <input type="text" class="form-control" name="limitCommand" value="--limit" placeholder="Limit Keyspace">
                            </td>
                          </div>
                        </div>
                      </div>
                    <button  class="btn btn-gray-800" type="submit">Create</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  </section>
  &nbsp;&nbsp;
</div>
<!-- New Preprocessor End-->
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">Preprocessor ID</th>
                    <th class="border-0">Name</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of preproc">
                    <td class="text-align:center">{{ p.preprocessorId }}</td>
                    <td>{{ p.name }}</td>
                    <td>
                      <a class='btn-outline-gray-600' [routerLink]="['/files',p.preprocessorId,'wordlist-edit']" [queryParams]="{allowEdit: +p.preprocessorId === 2 ? '1' : '0'}" data-toggle="tooltip" data-placement="top" title="Edit">
                        <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                      </a>
                      <a>
                        <button type="submit" class='btn' data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(p.preprocessorId)"><fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon></button>
                      </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



