<h2>Hash Search</h2>
<form action="search.php" method="post">
  <input type="hidden" name="action" value="[[$DSearchAction::SEARCH]]">
  <input type="hidden" name="csrf" value="[[csrf]]">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Search</th>
          <td>
            <textarea class="form-control" rows="15" name="search" placeholder="Enter hashes to search for here..."></textarea>
          </td>
        </tr>
        <tr>
            <button type="submit" name="send" class="btn btn-primary" >Search</button>
      </table>
    </div>
  </div>
</form>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered">
          <tr>
            <th><code>[[htmlentities([[entry.getVal('query')]], ENT_QUOTES, "UTF-8")]]</code></th>
            <td>
                  <code>[[htmlentities([[match.getHash()]], ENT_QUOTES, "UTF-8")]]:[[htmlentities([[match.getSalt()]], false, "UTF-8")]]</code>
                  cracked: <code>[[htmlentities([[match.getPlaintext()]], ENT_QUOTES, "UTF-8")]]</code>
                  in hashlist <a href="hashlists.php?id=[[match.getHashlistId()]]">[[hashlists.getVal([[match.getHashlistId()]]).getHashlistName()]]</a><br>
                NOT FOUND
            </td>
          </tr>
      </table>
    </div>
  </div>

